# Archivos de compilación de Go
*.exe
*.exe~
*.dll
*.so
*.dylib

# Archivos binarios
/bin/
./validar_oraciones

# Archivos de configuración y dependencias
vendor/

# Archivos específicos de entorno
.env

# Archivos y carpetas del sistema
.DS_Store
Thumbs.db
*.log
*.tmp

# Archivos de configuración de IDEs y editores
.vscode/
.idea/
*.iml

# Archivos y directorios de Node.js
node_modules/

# Archivos generados por Tailwind CSS
static/css/output.css

# Archivos temporales de npm/yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*
